* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body {
  height: 100%;
}

.container {
  display: flex;
}

select:required:invalid {
  color: gray;
}
option[value=""][disabled] {
  display: none;
}
option {
  color: black;
}

.column {
  flex: 50%;
  height: 100%;
  padding: 20px;
}

select {
  width: 300px;
}

.item-content {
  display: none;
}